* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bs-primary-rgb: 194, 153, 56;
  --bs-primary-bg-subtle: rgba(194, 153, 56, 0.1);
}

/* Start Navbar */
nav .container a.logo {
  font-weight: 700;
}
nav ul li:hover {
  color: rgb(0 0 0 / 70%) !important;
}
nav ul a.buy-now{
  width: fit-content;
}
/* End Navbar */

/* Start Intro */
.intro{
  padding: 5em 0;
}
@media(min-width:992px){
  .intro .container{
    padding: 0 7em;
  }
  .intro .description-intro{
    padding-left: 1.6em;
  }
}
.intro .description-intro h3 {
  font-size: 70px;
}
@media(max-width:509px){
  .intro .description-intro h3{
    font-size: 50px !important;
  }
  .intro .description-intro h4{
    font-size: 26px !important;
  }
}
.intro .description-intro h4{
  font-size: 48px
}
.intro .description-intro a {
  color: #c29938;
}
.intro .description-intro a:hover {
  color: #9b7a2d;
}
.intro .intro-image img{
    width: 98%;
    /* margin-right: 8em; */
}
/* End Intro */


/* Start Pricing Plans */
.pricing-plan{
  padding: 5em 0;
}
@media(max-width:767px){
  .pricing-plan .row > div{
    margin: 0 auto;
  }
}
@media(min-width:768px){
.pricing-plan .row .col-10{
  width: 87%;
  margin: 0 auto;
}
}
@media(min-width:992px){
  .pricing-plan .container{
    padding: 0 7em;
  }
  .pricing-plan .col-lg-4{
    width: 36.333333% !important;
  }
  .pricing-plan .col-lg-3{
    width: 27.3% !important;
  }
}
.pricing-plan .complete-edition {
  height: 30em;
}
/* End Pricing Plans */


/* Start Topics */
.topic{
  padding: 5em 0;
}
.accprdion button.btn-click:focus{
    box-shadow: 0 !important;
}
.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem rgba(194, 153, 56,0.25);
}
/* End Topics */

/* Start Book Reviews */
.book-reviews{
  padding: 5em 0;
}
@media(min-width:992px){
  .book-reviews .col-lg-8{
    width: 64.666667%;
  }
}
/* End Book Reviews */

/* Start Contact */
.contact{
  padding: 5em 0;
}
@media(min-width:992px){
  .contact .row .col-lg-8{
  width: 50.666667%;
  }
}
.contact .resizeplaceholder::placeholder{
  color: black;
}
.contact form .form-control:focus,
.contact form .form-select:focus{
  box-shadow: 0 0 0 0.25rem rgba(194, 153, 56,0.25);
}
.contact .resizeplaceholder:focus::placeholder{
  font-size: 12px;
  color: gray;
}
/* End Contact */

/* Start Get Update */
.get-update .btn-primary{
  color: #000;
  background-color: #c29938;
  border-color: #c29938;
}
.get-update .btn-primary:hover{
  color: #000;
  background-color: #cba856;
  border-color: #c8a34c;
}
.get-update .btn-close:focus{
  box-shadow: 0 0 0 0.25rem rgba(194, 153, 56,0.25);
}
.get-update .form-control:focus{
  box-shadow: 0 0 0 0.25rem rgba(194, 153, 56,0.25);
}
/* End Get Update */